# Remove the previous line if you edit this file

# Export all names
exportPattern(".")

# Import all packages listed as Imports or Depends
import(
  stats,graphics,utils,agricolae,multcomp,car,Rcmdr
)

importFrom(tcltk, tkget,tkbutton)
